<form name="myForm"><br>
    <label for="priceSchema"> Выберите прайс схему: </label>
    <select class="form-control" name="priceSchema" id="priceSchema" ng-change="admin.setCurrentPriceSchema(admin.schemaName)" ng-model="admin.schemaName">
        <option value="---New Schema---">---New Schema---</option>
        <option ng-repeat="option in admin.priceSchemas" value="{{option.priceSchema.name}}">{{option.priceSchema.name}}</option>
    </select>
</form>
<div class="col-sm-7 seats">

 <!---
<div class="col-sm-12"><h3 style="text-align: left">Ценовая Категория</h3></div>
<div class="col-sm-12">
<span class=" fa fa-2x fa-square" style="color: #ff972f;"></span> - 30 грн.
<span class=" fa fa-2x fa-square" style="color: #ffcc00;"></span> - 50 грн.
<span class=" fa fa-2x fa-square" style="color: #54aa6a;"></span> - 80 грн.
<span class=" fa fa-2x fa-square" style="color: #6f89c0;"></span> - 100 грн.
<span class=" fa fa-2x fa-square" style="color: #8b54aa;"></span> - 150 грн.
</div> -->
    <stadium price-schema="admin.currentPriceSchema" on-sector-select="admin.getSectorForSetPrice($event)"></stadium>
</div>
<div class="col-sm-5 cart"><br>
<div>
<div ng-form="priceForm" ng-model-options="{ updateOn: 'blur' }">
  <div class="form-group"  ng-class="{'has-error': priceForm.schemaName.$invalid && priceForm.schemaName.$dirty}">
   <label for="schemaName">Schema Name :</label>
   <input class="form-control" type="text" name="schemaName" id="schemaName" ng-model="admin.currentPriceSchema.name" required >
   <div class="help-block" ng-show="priceForm.schemaName.$error.required && priceForm.schemaName.$dirty">Schema Name is required</div>
  </div>
   <h4>Цена на трибуну:</h4>
  <table class="table">
   <thead>
   <tr >
       <th>Name</th>
       <th>Price</th>
   </tr>
   </thead>
   <tbody>
   <tr>
       <td>
           {{admin.currentTribune.name}}
       </td>
       <td>
           <div class="form-group"  ng-class="{'has-error': priceForm.tribunePrice.$invalid && priceForm.tribunePrice.$dirty}">
           <input class="form-control" type="number" name="tribunePrice" min="0" max="700" ng-model="admin.currentTribune.price" />
           <div class="help-block" ng-show="priceForm.tribunePrice.$error.number && priceForm.tribunePrice.$dirty">Price not number</div>
           </div>
       </td>
   </tr>
   </tbody>
</table>

<h4>Цена на сектор:</h4>
<table class="table">
   <thead>
   <tr>
       <th>Name</th>
       <th>Price</th>
   </tr>
   </thead>
   <tbody>
   <tr>
       <td>
           <span>{{admin.currentSector.name}}</span>
       </td>
       <td>
           <div class="form-group"  ng-class="{'has-error': priceForm.sectorPrice.$invalid && priceForm.sectorPrice.$dirty}">
           <input class="form-control" type="number" name="sectorPrice" min="0" max="700" ng-model="admin.currentSector.price" />
           <div class="help-block" ng-show="priceForm.sectorPrice.$error.number && priceForm.sectorPrice.$dirty">Price not number</div>
           </div>
       </td>
   </tr>
   </tbody>
</table>
   <p ng-show="admin.message">{{admin.message}}</p>
<button class="form-control"
       ng-click="admin.savePriceSchema(priceForm, admin.currentTribune.name, admin.currentSector.name)"
       ng-class="{'disabled': priceForm.$invalid && priceForm.$dirty}">
   Save price
</button>
</div>
</div>
</div>